
#navbarNavAltMarkup>div>a{
    padding-right: 50px;
    
}
.carousel-item>a{
    font-size: xx-large;
    color: black;
    text-decoration: none;
    background-color: #808080;
    padding: 1rem 0;
}
.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}
.list-group-item{
    border: 0;
}
.index-checkbox{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.card-price{
    display: flex;
    justify-content: space-between;
}
@media (max-width:1000px) {.index-card{
    flex-direction: column;
    padding-left: 25%;
    padding-right: 10%;
    width: fit-content;
}   
}
.index-card>.card{
    border: 1px solid red;
 justify-content: space-around;
}
footer{
    border: 1px solid black;
    padding-top: 3rem;
    height: 4rem;
}